*{
margin: 0;
padding: 0;
}

.circule-button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 350px; /* Tamaño del círculo */
    height: 350px; /* Tamaño del círculo */
    background-color: black; /* Color de fondo del botón */
    border-radius: 50%; /* Hace que el botón sea circular */
    text-decoration: none;
    overflow: hidden;
    transition: background-color 0.3s ease; /* Transición de color al pasar el mouse */
    position: absolute;
    top: 90px;
    left:40% ;
}

/* Cambia el color del botón al pasar el mouse sobre él */
.circule-button:hover {
    background-color:whitesmoke ; /* Nuevo color de fondo al pasar el mouse */
}

/* Estilo para la imagen dentro del botón */
.circule-button img {
    max-width: 350%; /* Ajusta el tamaño de la imagen dentro del círculo */
    height: auto;
}



